<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- title in partials/header.ejs -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <h1>Mongoose Foodpost</h1>
    <a href="/foodposts/new">Add a Post</a>
  </body>
</html>