<%- include('../partials/header') %>

<h1>Add New Foodpost</h1>
<form id="new-form" action="/foodposts" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Category</label>
    <select name="category">
      <option value="Japanese Food">Japanese Food</option>
      <option value="Mexican Food">Mexican Food</option>
      <option value="American Food">American Food</option>
    </select>
    <label>Image URL:</label>
    <input type="text" name="imageUrl">
    <label>Leave Review:</label>
    <input type="text" name="description">
    <input type="submit" value="Add Post">
</form>
<a>Checked</a>
<%- include('../partials/footer') %>


